{% extends "base.html" %}

{% load thumbnail %}

{% block nav_blog %} class="active"{% endblock %}

{% block content %}

    <!-- begin:title -->
    <div class="row-fluid blog">
        <div class="span12 main-header">
            <header>
                <h1>Notícias</h1>
            </header>
            <ul class="breadcrumb">
                <li>{% if search %}busca por "{{ search }}"{% endif %}</li>
            </ul>
        </div>
    </div>
    <!-- end:title -->


    <!-- begin:content -->
    <div class="row-fluid">
        <div class="span12 content-wrapper">

            <!-- begin:elements -->
            <div class="row-fluid content-home">
                <!-- begin:blog-article -->
                <div class="span9">
                    <!-- begin:loop-article -->

                    {% for object in object_list %}

                        <div class="row-fluid">
                            <div class="span12 blog-content">
                                <div class="page-header">
                                    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
                                </div>
                                <small class="meta-date">marcações:
                                    {% for tag in object.tags.all %}
                                        <a href="{% url 'blog:tag_list' tag.slug %}"><span class="label label-red">{{ tag.name }}</span></a>
                                    {% endfor %}
                                    | Por {{ object.author }}
                                    | {{ object.created|date:"d F Y" }}
                                </small>
                                <div class="row-fluid">
                                    <div class="span4">
                                        {% thumbnail object.image "216x173" crop="center" format="PNG" as im %}
                                            <p><img src="{{ im.url }}" alt="{{ object.title }}" class="img-responsive" /></p>
                                        {% empty %}
                                            <p>Sem Imagem</p>
                                        {% endthumbnail %}
                                    </div>
                                    <div class="span8">
                                        {% autoescape off %}
                                        <p>{{ object.body|striptags|truncatewords_html:75 }}</p>
                                        {% endautoescape %}
                                        <p><a href="{{ object.get_absolute_url }}" class="btn btn-small btn-red">
                                            <i class="icon-plus"></i> Ler mais
                                        </a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                    {% empty %}

                        <p>Nenhuma notícia encontrada.</p>

                    {% endfor %}
                    <!-- end:loop-article -->

                    {% include "paginator.html" %}

                </div>
                <!-- end:blog-article -->

                <!-- begin:blog-sidebar -->
                <div class="span3">
                    <div class="row-fluid blog-sidebar">
                        <div class="span12">
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>Buscar Notícia</h3>
                                </div>
                                <!-- begin:logo-search -->
                                <div class="search-form internal">
                                    <form role="form" action="." method="get">
                                        <div class="input-append">
                                            <input class="span10" id="search" type="text" name="search" placeholder="Buscar">
                                            <button class="btn btn-red" type="submit">
                                                <i class="icon-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!-- end:logo-search -->
                            </div>
                            <!-- break -->
                            <div class="widget">
                                <div class="widget-title">
                                    <h3>Categorias</h3>
                                </div>
                                <ul>
                                    {% for cat in category_list %}
                                        <li><a href="{% url 'blog:category_list' cat.slug %}">{{ cat.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- break -->
                            <div class="widget widget-tags">
                                <div class="widget-title">
                                    <h3>Tags</h3>
                                </div>
                                <ul>
                                    {% for tag in tag_list %}
                                        <li><a href="{% url 'blog:tag_list' tag.slug %}">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- break -->
                        </div>
                    </div>

                </div>
                <!-- end:blog-sidebar -->

            </div>
            <!-- end:elements -->

        </div>
    </div>
    <!-- end:content -->

{% endblock content %}
