{% extends "base.html" %}

{% load thumbnail %}

{% block nav_home %} class="active"{% endblock %}

{% block content %}

    <!-- begin:carousel -->
    <div class="row-fluid">
        <div class="span12">
            <div id="owl-demo" class="owl-carousel owl-theme">
                {% for ban in super_banner_list %}
                    <a href="{% if ban.link %}{{ ban.link }}{% else %}#{% endif %}">
                    {% thumbnail ban.image "940x250" crop="center" format="PNG" as im %}
                        <img src="{{ im.url }}" alt="{{ ban.title }}">
                    {% empty %}
                        <img src="http://placehold.it/940x250/cccccc/FFFFFF" alt="{{ ban.title }}">
                    {% endthumbnail %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- end:carousel -->

    <!-- begin:content -->
    <div class="row-fluid">
        <div class="span12 content-wrapper">
            <!-- begin:climatempo+historia -->
            <div class="row-fluid content-home">
                <div class="span5" style="padding-left: 15px;">
                    <iframe src="http://www.tempoagora.com.br/selos_iframe/wide_Saloa-PE.html" height="200" width="300" frameborder="0" allowtransparency="yes" scrolling="no" style="box-shadow: 0 0 6px #999;"></iframe>
                </div>
                <div class="span7 pull-right"> <!-- 520x200 -->
                    <div id="owl-demo2" class="owl-carousel owl-theme">
                        {% for ban in second_banner_list %}
                            <a href="{% if ban.link %}{{ ban.link }}{% else %}#{% endif %}">
                            {% thumbnail ban.image "520x200" crop="center" format="PNG" as im %}
                                <img src="{{ im.url }}" alt="{{ ban.title }}">
                            {% empty %}
                                <img src="http://placehold.it/520x200/cccccc/FFFFFF" alt="{{ ban.title }}">
                            {% endthumbnail %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end:climatempo+historia -->

            <hr class="dotted">

            <!-- begin:recent-blog -->
            <div class="row-fluid content-home">
                <div class="span12 work">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="page-header">
                                <h2>Novidades</h2>
                            </div>
                        </div>
                    </div>
                    <!-- break -->
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <ul class="thumbnails">
                                  {% for blog in blog_list %}
                                      <li class="span3">
                                        <div class="thumbnail">
                                            <div class="thumbnail-body">
                                                <div class="wrapper-image">
                                                    <a href="{{ blog.get_absolute_url }}" class="galeri" title="{{ blog.title }}">
                                                        {% thumbnail blog.image "213x142" crop="center" format="PNG" as im %}
                                                            <img src="{{ im.url }}" alt="{{ blog.title }}">
                                                        {% empty %}
                                                            <img src="http://placehold.it/216x144/cccccc/FFFFFF" alt="{{ blog.title }}">
                                                        {% endthumbnail %}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="thumbnail-title">
                                                <h2><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h2>
                                            </div>
                                        </div>
                                      </li>
                                      <!-- break -->
                                  {% endfor %}
                                </ul>
                                <a href="{% url 'blog:home' %}" class="pull-right"><i class="icon-plus"></i> notícias</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end:recent-blog -->

            <hr class="dotted">

            <!-- begin:calendario+programas -->
            <div class="row-fluid content-home">
                <div class="span5">
                    <div id="bloco-calendario">
                        <label><i class="icon-calendar"></i> CALENDÁRIO DA PREFEITURA</label>
                        <ul>
                            {% for cal in calendar_list %}
                                <li>
                                    <div class="data"><h2>{{ cal.date_start|date:"d" }}</h2>&nbsp;<h4>{{ cal.date_start|date:"M" }}</h4></div>
                                    <a href="{{ cal.get_absolute_url }}">{{ cal.title }}</a>
                                    <br class="clearfloat">
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'event:home' %}" class="btn btn-red pull-right"><i class="icon-plus"></i> calendário completo</a>
                    </div>
                </div>
                <div class="span7">
                    <div class="row-fluid">
                        <ul class="thumbnails">
                          {% for program in program_list %}
                              <li class="span4">
                                <div class="thumbnail">
                                    <a href="{{ program.link }}" target="_blank">
                                        <img src="{{ program.image.url }}" alt="{{ program.name }}" title="{{ program.name }}">
                                    </a>
                                </div>
                              </li>
                              <!-- break -->
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end:calendario+programas -->

        </div>
    </div>
    <!-- end:content -->

    <!-- begin:links -->
    <div class="row-fluid">
        <div class="span12 content-wrapper">
            <hr class="dotted">

            <div id="owl-demo3" class="owl-carousel owl-theme">
                {% for link in link_list %}
                    <div class="item">
                        <a href="{{ link.link }}" target="_blank">
                            <img src="{{ link.image.url }}" alt="{{ link.name }}" title="{{ link.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <hr class="dotted">

        </div>
    </div>
    <!-- end:links -->

    <!-- start:popup_banner -->
    {% if popup_banner_list %}
        <div class="modal hide fade" id="myModal">
          <div class="modal-body">
            {% for ban in popup_banner_list %}
              {% thumbnail ban.image "800" crop="center" format="PNG" as im %}
                <img src="{{ im.url }}" alt="{{ ban.title }}">
              {% empty %}
                <img src="http://placehold.it/800x600/cccccc/FFFFFF" alt="{{ ban.title }}">
              {% endthumbnail %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <a class="btn btn-red" data-dismiss="modal">Fechar</a>
          </div>
        </div>
    {% endif %}
    <!-- end:popup_banner -->

{% endblock content %}

{% block extra_js_bot %}

    <script type="text/javascript">
        $(window).load(function(){
            $('#myModal').modal('show');
        });
    </script>

{% endblock extra_js_bot %}
