{% extends "base.html" %}

{% load thumbnail %}

{% block nav_city_hall %} class="active"{% endblock %}

{% block extra_js_top %}

  <link rel="stylesheet" href="{{ STATIC_URL }}timeline/css/style.css">
  <script src="{{ STATIC_URL }}timeline/js/modernizr.js"></script>

{% endblock extra_js_top %}

{% block content %}

    <!-- begin:title -->
    <div class="row-fluid secretarias">
        <div class="span12 main-header">
            <header>
                <h1>A Prefeitura</h1>
            </header>
        </div>
    </div>
    <!-- end:title -->

    <!-- begin:content -->
    <div class="row-fluid">
        <div class="span12 content-wrapper">

            <!-- begin:body -->
            <div class="row-fluid content-home">
                <div class="span12">
                    <div class="page-header">
                        <h2>Linha do Tempo</h2>
                    </div>

                    <div class="content">
                      {% for item in timeline_list %}
                      <div class="portfolio-item group{% if forloop.first %} first{% endif %}">
                        <div class="portfolio-info">
                          <div class="date"><h4>{{ item.period }}</h4></div>
                          <div class="description">
                            <h4>{{ item.title }}</h4>
                            {{ item.description }}
                          </div>
                        </div>
                        <div class="portfolio-image">
                          {% thumbnail item.image "800" crop="center" format="PNG" as im %}
                            <img src="{{ im.url }}" class="img-responsive" alt="{{ item.title }}">
                          {% empty %}
                            <p>Sem Imagem</p>
                          {% endthumbnail %}
                        </div>
                      </div>
                      {% endfor %}
<!--
                      <div class="portfolio-item group loading-wrap" style="display:none">
                        <div class="portfolio-info">
                        </div>
                        <div class="portfolio-image">
                          <div class="loading">
                            <img src="{{ STATIC_URL }}timeline/images/loading.png" alt="Carregando" class="rotate">&nbsp;Carregando...
                          </div>
                        </div>
                      </div>
                    </div>
-->
<!--
                  <ul class="timeline">
                    {% for item in timeline_list %}
                      <li>
                        <div class="timeline-date">
                          <h4 class="timeline-title">{{ item.period }}</h4>
                        </div>
                      </li>
                      <li {% if forloop.counter|divisibleby:2 %}class="timeline-inverted"{% endif %}>
                        <div class="timeline-badge"></div>
                        <div class="timeline-panel">
                          <div class="timeline-heading">
                            <h4 class="timeline-title">{{ item.title }}</h4>
                          </div>
                          <div class="timeline-body">
                            {% thumbnail item.image "800" crop="center" format="PNG" as im %}
                              <img src="{{ im.url }}" class="img-responsive">
                            {% empty %}
                              <p>Sem Imagem</p>
                            {% endthumbnail %}
                            <p>{{ item.description }}</p>
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>--> <!-- / .timeline -->
                </div>
            </div>
            <!-- end:body -->

        </div>
    </div>
    <!-- end:content -->

{% endblock content %}

{% block extra_js_bot %}

  <script src="{{ STATIC_URL }}timeline/js/app.js"></script>

{% endblock extra_js_bot %}
