{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Portal da Transparencia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Prefeitura Municipal de Saloa">
    <meta name="keywords" content="prefeitura, municipal, saloa, governo, pernambuco, pe, brasil, brasilia, congresso, camara, deputado, prefeito, vereador">
    <meta name="author" content="OW7">
  </head>
  <frameset cols="100%">
    <frame src="http://www.tecnosolutions.inf.br/transparencia/saloa/prefeitura/{{ pagina }}.faces">
  </frameset>
</HTML>
